body {
    background-color: #030022;
    margin: 0;
    padding: 0;
    min-width: 100vw;
    overflow-x: hidden;
    font-family: 'Segoe UI';
    transition: background-color 3s ease;
}

    body .container {
        width: 960px;
        margin: 0 auto;
        height: auto;
        background: #0040a0;
    }

        body .container .header {
            width: 100%;
            height: 50px;
            display: flex;
        }

            body .container .header .logo {
                float: left;
                width: 125px;
                height: 100%;
            }

                body .container .header .logo img {
                    width: 60px;
                }

            body .container .header .menu {
                margin-left: 10px;
                width: 960px;
                height: 100%;
                margin: 0 0 0 0;
            }

                body .container .header .menu ul {
                    display: flex;
                    justify-content: flex-end;
                }

                    /*ul = listenin kutusu, li = listenin maddeleri' */
                    body .container .header .menu ul li {
                        list-style: none;
                        margin-right: 20px;
                    }


                        body .container .header .menu ul li a {
                            text-decoration: none;
                            font-size: 18px;
                            color: aqua;
                        }

                            body .container .header .menu ul li a:hover {
                                color: #ffd800;
                            }

        body .container .slider {
            margin: 10px 0 10px 0;
            width: 960px;
            background: #0040a0;
        }

            body .container .slider ul {
                list-style: none;
                padding: 0;
                margin: 0;
            }

                body .container .slider ul li {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                }

            body .container .slider img {
                width: 100%;
            }

            body .container .slider .smallslider {
                width: 100%;
            }

                body .container .slider .smallslider ul {
                    display: flex;
                    justify-content: center;
                    gap: 3px;
                    padding: 0 3px 0 3px;
                    margin: 0;
                    list-style: none;
                }

            body .container .slider .slidertext {
                width: 90%;
                margin: 10px auto 0 auto;
                justify-content: center;
                align-items: center;
                gap: 10px;
                font-size: 25px;
                color: #ff0000;
                display: flex;
            }

        body .container .footer {
            width: 100%;
            height: 30px;
            display: flex;
            align-items: center;
            color: #0040a0;
        }

            body .container .footer .sublinks {
                width: 70%;
                height: 100%;
                display: flex;
                align-items: center;
                padding: 0 0 0 10px;
            }

                body .container .footer .sublinks ul {
                    display: flex;
                    padding: 0;
                    margin: 0;
                }

                    body .container .footer .sublinks ul li {
                        list-style-type: none;
                        font-size: 11px;
                        margin-right: 10px;
                    }

                        body .container .footer .sublinks ul li a {
                            text-decoration: none;
                            color: aqua
                        }

            body .container .footer .socialmedia {
                width: 30%;
                height: 100%;
                display: flex;
                justify-content: flex-end;
                align-items: center;
            }

                body .container .footer .socialmedia ul {
                    display: flex;
                    padding: 0;
                    margin: 0;
                }

                    body .container .footer .socialmedia ul li {
                        list-style-type: none;
                        margin-right: 5px;
                    }

                        body .container .footer .socialmedia ul li a {
                            text-decoration: none;
                        }

                            body .container .footer .socialmedia ul li a img {
                                width: 25px;
                            }
