@using MVC.Models.ViewModels

@{
	ViewData["Title"] = "Create";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@model StudentViewModel

<div class="container text-center">
	<h1>Admin Paneline Hoşgeldin Alper Çelebi</h1>
	<p><h1>Müşteri Ekle</h1></p>
</div>

<form method="post">
	<div asp-validation-summary="ModelOnly" class="text-danger"></div>
	<div class="container text-center">
		<div class="form-group container text-center col-3">
		<label asp-for="Name" class="control-label d-flex"></label>
		<input asp-for="Name" class="form-control" />
		<span asp-validation-for="Name" class="text-danger"></span>
	</div>
		<div class="form-group container text-center col-3">
			<label asp-for="Email" class="control-label d-flex"></label>
		<input asp-for="Email" class="form-control" />
		<span asp-validation-for="Email" class="text-danger"></span>
	</div>
		<div class="form-group container text-center col-3">
			<label asp-for="Age" class="control-label d-flex"></label>
		<input asp-for="Age" class="form-control" />
		<span asp-validation-for="Age" class="text-danger"></span>
	</div>
	<br />
	<div class="form-group">
		<input type="submit" value="Kaydet" class="btn btn-dark" />
	</div>
	</div>
</form>

