@using MVC.Models.ViewModels
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - MVC</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/MVC.styles.css" asp-append-version="true" />
</head>
<body>
	<header>
		<nav class="navbar bg-body-tertiary bg-dark" style="color: white;">
			<div class="container-fluid d-flex gap-3 align-items-center">
				<a class="navbar-brand" asp-controller="Home" asp-action="Index" style="color: white;">Celebi Outdoor Sports</a>

				<form class="d-flex gap-2 me-auto" role="search">
					<input class="form-control" type="search" style="color: white; width: 350px;" placeholder="Arama" aria-label="Arama" />
					<button class="btn btn-outline-success" style="color: white;" type="submit">Arama</button>
				</form>
				<!--partial view kullanarak AdminLoginPartial.cshtml'deki formu buraya çağırdık -->
				<partial name="_AdminLoginPartial" model="new MVC.Models.ViewModels.AdminViewModel()" />
				
			</div>
		</nav>
	</header>

	<!--SLIDER-->
	<main role="main" class="pb-3">
		@RenderBody()
	</main>

	<!--FOOTER-->
	<footer class="border-top footer text-muted">
		<div class="container d-flex flex-wrap justify-content-between align-items-center">
			<p class="col-md-4 mb-0 text-white"></p>
			<ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
				<li class="ms-3">
					<a href="#">
						<img src="~/images/instagram.png" width="35" height="35" class="footer-icon" alt="Instagram" />
					</a>
				</li>
				<li class="ms-3">
					<a href="#">
						<img src="~/images/facebook.png" width="35" height="35" class="footer-icon" alt="Facebook" />
					</a>
				</li>
			</ul>
		</div>
	</footer>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>