@{
    string adminUsername = Context.Request.Cookies["admin"];
    @if(adminUsername != null)
    {
        <a class="btn btn-dark" asp-controller="Product" asp-action="Index" aspdata-bs-toggle="collapse" style="color: white;" data-bs-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">Ürün Listesi (Admin)</a>
        <a class="btn btn-dark" asp-controller="Student" asp-action="Create" aspdata-bs-toggle="collapse" style="color: white;" data-bs-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">Müşteri (Admin)</a>
    }   
}
